/* GENERAL rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* columns specific rules */

[class*="col-"] {
    background-color: rgb(50, 50, 255);
    color: #fff;
    font-weight: bold;
    border: 1px solid white;
    padding: 2%;
    text-align: center;
}

[class*="offset"] {
    border: none;
    padding: 0;
}

.title {
    text-align: center;
    background-color: rgba(50, 50, 255, 0.5);
}

.nested {
    background-color: rgb(0, 200, 0);
    color: black;
    font-weight: bold;
    border-color: rgb(50, 50, 255);
    height: 50px;
    overflow: auto;
}

#main-title {
    position: relative;
    padding: 15px 0;
}

#main-title::after {
    content: "\21E6Resize me \21E8";
    font-size: 18px;
    color: yellow;
    background-color: black;
    border-radius: 15px;
    position: absolute;
    top: 0;
    right: 10px;
    animation: scroll 1s ease infinite;
}

@keyframes scroll {
    50% {
    transform: translate(-25px , 0);
    }
}